*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    
    background-color: rgb(41, 40, 38);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.header {
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-bottom: solid 1px;
    border-color: darkorange;
}
.men_hamb{
    display: none;
}
.men_hamb:checked + .list_UL{
    height: calc(100vh - 50px);
    width:150px;
    height: 250%;

}
.nav_conten {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 0 10px;
}
.logo{
    height: 45px;
    width: 70px;

}
.titulo {
    font-size: 20px;
    color:orange
}
.label_hamb {
}
.list_UL {
    
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items:center;
    background-color:  rgb(65, 63, 60);
    position:absolute;
    height: 0;
    right: 0;
    overflow: hidden;
    gap: 10px;
    top: 50px;
    transition: all .2s;   
}
.header a:hover{
    color:white;
    animation: ls ms 1;
}
.link{
    font-size: 15px;
    font-weight: bold;
    color: orange;
}
h2{
    align-content: center;
    color:white;
    padding-top: 20px;
    font-size: 18px;
    padding-left: 50px;
    padding-right: 30px;
}
.main_1{
  
}
.image_1, .image_2{
    width: 300px;
    height: 150px;
    padding-top: 15px;
    padding-left: 70px !important;
    right: 0;
}
p{
    color:white;
    font-size: 12px;
    padding-left: 50px;
    padding-right: 55px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 5px;
}
